html,
body {
  min-width: 900px;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: 500;
}
h1{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 500;
}
h2{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 500;
}
h3{
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}
h4{
    font-size: 17px;
  line-height: 30px;
  color: #283136;
  font-weight: medium;
  text-transform: uppercase;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
  .main-header{
  height: 436px;
  margin: auto;
  margin-bottom: 80px;
  background-color: #eeeeee;
}
.top-header {
  margin-bottom: 53px;
  padding-top: 27px;
  width: 880px;
  height: 56px;
  font-size: 0px;

}
.container {
  position: relative;
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-logo{
  display: inline-block;
  margin-right: 180px;
}
.main-navigation {
  display: inline-block;
  margin-right: 96px;
  vertical-align: text-bottom;
}

.main-navigation ul{
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  white-space: nowrap;
  margin-right: 45px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation li a,
.user-block a{
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  font-weight: medium;
  text-transform: uppercase;
}

.user-block {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
}

.user-block a{
}

.user-block a::before{
  position: absolute;
  top: 6px;
  left: -27px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/recycle-bin.png");
  opacity: 0.3;
}

a{
  text-decoration: none;
}

.bottom-slide1 {

}
.bottom-slide2 {
	display: none;
}
.bottom-slide3 {
	display: none;
}
.slogan {
  float: left;
	width:380px;
	height: 195px;
  margin-top: -10px;
}

.slogan p{
  margin-top: -12px;
  margin-bottom: 27px;
}

.bottom-slide1 img {
	float: right;
	width:340px;
	height: 231px;
}

.slider-nav {
  position: absolute;
  top: 326px;
  left: 416px;
}

.slider-nav a{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slide-btn{
  display: block;
  width: 240px;
  height: 38px;
  color: white;
  background-color: #fb565a;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 38px;
}

.suggestions {
  margin-bottom: 80px;
  text-align: center;
  font-size: 0;
}
.sug-block {
  display: inline-block;
  width:240px;
  margin-right: 80px;
  vertical-align: top;
  text-align: left;
}
.sug-block:last-child {
  margin-right: 0;
}

.sug-block h3{
  margin-top: 12px;
}

.sug-block p{
  margin-top: -4px;
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 22px;
}

.sug-btn{
  display: block;
  width: 140px;
  height: 38px;
  color: white;
  background-color: #fb565a;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 38px;
}

.green-btn{
  background-color: #00ca74;
}

.yellow-btn{
  background-color: #efc84a;
}

hr {
  background-color: #f4f4f4;
  height: 2px;
  border: none;
  margin-bottom: 59px;
}
.description {
  height: 413;
}
.about-us {
  float:left;
  width: 580px;
  margin-top: -13px;
}

.about-us p{
  margin: -5px 0 42px 0;
}

.about-us span{
  text-transform: uppercase;
}

.description-logo {
  float:right;
  width: 240px;
  height: 350px;
}

.description ul,
.description ul li{
  list-style: none;
  position: relative;
}

.about-us ul{
  margin-top: 22px;
  padding-left: 36px;
}

.about-us ul li{
  margin-bottom: 22px;
}

.description ul li::before{
  position: absolute;
  left: -36px;
  top: 11px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.description-logo img{
  display: block;
  margin: 0 auto;
}

.description-logo b{
  position:relative;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #283136;
  font-weight: medium;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

.description-logo b::before{
  position: absolute;
  left: 10px;
  top: 13px;
  content: "";
  width: 50px;
  height: 2px;
  background-color: grey;
}

.description-logo b::after{
  position: absolute;
  right: 10px;
  top: 13px;
  content: "";
  width: 50px;
  height: 2px;
  background-color: grey;
}


.partners{
  text-align: center;
  height: 166px;
}
.partners img{
  width:230;
  margin-right: 90px;
  margin-top: 40px;
  margin-bottom: auto;
  vertical-align:middle;
  opacity: 0.2;
}

.partners img:last-child{
  margin-right: 0;
}
.above-map{
margin-bottom: 85px;
}
.map-block{
  position: relative;
  text-align: center;
  width: 1200px;
  height: 416px;
  margin: 0 auto;
  padding-top: 1px;
  background: #ffffff url("img/map.jpg") no-repeat;

}
.contact{
  vertical-align: top;
  margin-top: 80px;
  margin-right: 350px;
  display: inline-block;
  width: 250px;
  height: 240px;
}
.adress{
  margin-top: 80px;
  display: inline-block;
  width: 231px;
  height: 190px;
}
.main-footer{
  height: 150px;
}
.footer-social{
  float: left;
  margin-top: 40px;
  margin-right: 60px;
  margin-left: 50px;
}

.social-btn{
  display: inline-block;
  width: 50px;
  height:50px;
  margin-right: 20px;
  border-radius: 50%;
}

.social-btn-vk{
  background: #eeeeee url("../img/icon-vk.png") no-repeat 50% 50%;
}

.social-btn-fb{
  background: #eeeeee url("../img/icon-facebook.png") no-repeat 50% 50%;
}

.social-btn-inst{
  background: #eeeeee url("../img/icon-instagramm.png") no-repeat 50% 50%;
}

.footer-sale{
  float: right;
  margin-top: 40px;
}

.footer-sale b{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: medium;
}
