html,
body {
  min-width: 900px;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-weight: bold;
}
h1{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: medium;
}
h2{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: medium;
}
h3{
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: medium;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
  .main-header{
  height: 436px;
  margin: auto;
  margin-bottom: 80px;
  background-color: #eeeeee;
}
.top-header {
  margin-bottom: 53px;
  padding-top: 27px;
  width: 880px;
  height: 56px;
  font-size: 0px;

}
.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-logo{
  display: inline-block;
  margin-right: 180px;
}
.main-navigation {
  display: inline-block;
  margin-right: 96px;
  vertical-align: text-bottom;
}

.main-navigation ul{
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  white-space: nowrap;
  margin-right: 45px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation li a,
.user-block a{
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  font-weight: medium;
  text-transform: uppercase;
}

.user-block {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
}

.user-block a{
}

.user-block a::before{
  position: absolute;
  top: 6px;
  left: -27px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/recycle-bin.png");
}

a{
  text-decoration: none;
}

.bottom-slide1 {
  width: 100%;

}
.bottom-slide2 {
	display: none;
}
.bottom-slide3 {
	display: none;
}
.slide1-slogan {
float: left;
	width:380px;
	height: 195px;
  margin-top:26;
}
.slider-nav {
margin-top: 30px;
 text-align: center;
}
.bottom-slide1 img {
	float: right;
	width:340px;
	height: 231px;
}
.suggestions {
  text-align: center;
  margin-bottom: 79px;
}
.sug-block {
  display: inline-block;
  width:240px;
  height: 300px;
  margin-right: 80px;
text-align: left;
}
.sug-block:last-child {
margin-right: 0;
}
hr {
  background-color: #f4f4f4;
  height: 2px;
  border: none;
}
.description {
  margin-top: 59px;
  height: 413;
}
.about-us {
  float:left;
  margin-top: 16px;
  height: 334px;
  width: 620px;
}
.description-logo {
  float:right;
  width: 240px;
  height: 350px;
}
.partners{
  text-align: center;
  height: 166px;
}
.partners img{
  width:230;
  margin-right: 90px;
  margin-top: 40px;
  margin-bottom: auto;
  vertical-align:middle;
}

.partners img:last-child{
  margin-right: 0;
}
.above-map{
margin-bottom: 85px;
}
.map-block{
  position: relative;
  text-align: center;
  width: 1200px;
  height: 416px;
  margin: 0 auto;
  padding-top: 1px;
  background: #ffffff url("img/map.jpg") no-repeat;

}
.contact{
  vertical-align: top;
  margin-top: 80px;
  margin-right: 350px;
  display: inline-block;
  width: 250px;
  height: 240px;
}
.adress{
  margin-top: 80px;
  display: inline-block;
  width: 231px;
  height: 190px;
}
.main-footer{
  height: 150px;
}
.footer-social{
  float: left;
  margin-top: 40px;
  width: 200px;
  margin-right: 60px;
}
.footer-sale{
  float: right;
  margin-top: 40px;
}
