html,
body {
  min-width: 900px;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto", "Arial" ,"sans-serif";
  font-size: 16px;
  color: #283136;
  font-weight: 500;
}
.about-us h1{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 500;
}
h2{
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}
h3{
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}
h4{
  font-size: 16px;
  line-height: 30px;
  color: #283136;
  font-weight: 500;
  text-transform: uppercase;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header{
  margin: auto;
  margin-bottom: 90px;
  background-color: #eeeeee;
}

.catalog-header{
  height: 328px;
  margin: auto;
  margin-bottom: 75px;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.top-header {
  margin-bottom: 33px;
  padding-top: 27px;
  width: 880px;
  height: 56px;
  font-size: 0px;
}

.catalog-top-header {
  margin-bottom: 65px;
  padding-top: 27px;
  width: 880px;
  height: 56px;
  font-size: 0px;
}

.container {
  position: relative;
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-logo{
  display: inline-block;
  width: 139px;
  height: 56px;
  margin-right: 180px;

}
.main-navigation {
  display: inline-block;
  margin-right: 96px;
  vertical-align: text-bottom;
}

.main-navigation ul{
  padding: 0;
}

.main-navigation li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  margin-right: 45px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation li a,
.user-block a{
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  font-weight: medium;
  text-transform: uppercase;
}

.main-navigation .active::after{
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation li a:hover,
.user-block a:hover{
  color: #fb5559;
}
.user-block a:hover::before{
  background-image: url("../img/sprites.png");
  background-position: -20px -504px;
  opacity: 1;
}

.user-block a:active::before{
  background-image: url("../img/sprites.png");
  background-position: -20px -469px;
  opacity: 0.15;
}

.main-navigation li a:active,
.user-block a:active{
  color: #000000;
  opacity: 0.5;
}

.user-block {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
}

.user-block a{
}

.user-block a::before{
  position: absolute;
  top: 6px;
  left: -27px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/sprites.png");
  background-position: -20px -469px;
  opacity: 0.3;
}

a{
  text-decoration: none;
}

.bottom-header h1{
  margin-left: -10px;
}

.bottom-header{
  text-align: center;
  margin-bottom: 50px;
}

/*---------------------------Индекс-слайдер*/
.slider{
    position:relative;
    width:880px;
    height:310px;
    margin:0 auto;
}

.slider input[type=radio] {
    position:absolute;
    opacity:0;
}

.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}

.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background:#c1c1c1;
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.slide-text{
    width:480px;
    padding:40px 0 30px 0;
    color:#283136;
}

.slide-title{
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
}

.slide .btn{
    display:block;
    width:240px;
    height: 38px;
    margin-top:25px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
    line-height: 38px;
}

.slide:nth-child(1){
    background-image:url("../img/index-slide1.png");
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(2){
    background-image:url("../img/index-slide2.png");
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(3){
    background-image:url("../img/index-slide3.png");
    background-repeat:no-repeat;
    background-position:99% 0;
}

.slide{
    display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
  }

.slide-btn{
  display: block;
  width: 240px;
  height: 38px;
  color: white;
  background-color: #fb565a;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 38px;
}

/*---------------------------Индекс-слайдер*/

/*---------------------------Реакция кнопок*/
.slide-btn:hover,
.red-btn:hover,
.feedback-btn:hover,
.submit-btn:hover,
.element-buy-btn:hover,
.btn:hover{
  background-color: #d6494d;
}

.green-btn:hover{
  background-color: #01a25e;
}

.yellow-btn:hover{
  background-color: #d6ae2c;
}

.slide-btn:active,
.red-btn:active,
.feedback-btn:active,
.submit-btn:active,
.element-buy-btn:active,
.btn:active{
  background-color: #b63538;
  height: 35px;
  border-top: 3px solid #9b2d30;
  line-height: 32px;
}

.green-btn:active{
  background-color: #009053;
  height: 35px;
  border-top: 3px solid #007b47;
  line-height: 32px;
}

.yellow-btn:active{
  background-color: #c09b24;
  height: 35px;
  border-top: 3px solid #a3841f;
  line-height: 32px;
}
/*---------------------------Реакция кнопок*/

/*---------------------------Тело индекса*/
.suggestions {
  margin-bottom: 80px;
  text-align: center;
  font-size: 0;
}
.sug-block {
  display: inline-block;
  width:240px;
  margin-right: 80px;
  vertical-align: top;
  text-align: left;
}
.sug-block:last-child {
  margin-right: 0;
}

.sug-block h3{
  margin-top: 12px;
}

.sug-block p{
  margin-top: -4px;
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 22px;
}

.sug-btn{
  display: block;
  width: 140px;
  height: 38px;
  color: white;
  background-color: #fb565a;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 38px;
}

.green-btn{
  background-color: #00ca74;
}

.yellow-btn{
  background-color: #efc84a;
}

hr {
  background-color: #f4f4f4;
  height: 2px;
  border: none;
}
.description {
  margin-top: 59px;
  margin-bottom: 49px;
}
.about-us {
  float:left;
  width: 580px;
  margin-top: -13px;
}

.about-us p{
  margin: -5px 0 42px 0;
}

.about-us span{
  text-transform: uppercase;
}

.description ul,
.description ul li{
  list-style: none;
  position: relative;
}

.about-us ul{
  margin-top: 22px;
  padding-left: 36px;
}

.about-us ul li{
  margin-bottom: 22px;
}

.description ul li::before{
  position: absolute;
  left: -36px;
  top: 11px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.description-logo {
  float:right;
  width: 240px;
}

.description-logo img{
  display: block;
  margin: 0 auto;
  padding-left: 7px;
}

.description-logo b{
  position:relative;
  display: block;
  margin-top: 34px;
  margin-bottom: 68px;
  padding-left: 5px;
  font-size: 16px;
  line-height: 8.56px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

.description-logo b::before{
  position: absolute;
  left: 0;
  top: 4px;
  content: "";
  width: 65px;
  height: 2px;
  background-color: #f4f4f4;
}

.description-logo b::after{
  position: absolute;
  right: 0;
  top: 4px;
  content: "";
  width: 62px;
  height: 2px;
  background-color: #f4f4f4;
}

.description-logo ul{
  padding-left: 36px;
  margin-top: -5px;
}

.description-logo ul li{
  margin-bottom: 22px;
}

.partners{
  margin-top: 45px;
  margin-bottom: 20px;
  padding: 0 20px 0 11px;
  font-size: 0px;
}
.partners a{
  display: inline-block;
  vertical-align:  middle;
  margin: 0 auto;
  opacity: 0.2;
}

.partners a:nth-child(1){
  margin-bottom: 8px;
  margin-right: 120px;
}

.partners a:nth-child(2){
  margin-bottom: 2px;
  margin-right: 123px;
}

.above-map{
margin-bottom: 85px;
}
/*---------------------------Тело индекса*/

/*---------------------------Тело каталога*/

.site-selection{
  float: left;
  width: 240px;
}

/* ползунок*/
.range-filter {
  width: 240px;
  margin-bottom: 45px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}

.min-price,
.max-price{
  text-transform: uppercase;
}

/* ползунок*/

.site-selection b{
  display: inline-block;
  width: 100%;

  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.selection-price-b{
  margin-bottom: 13px;
}

.selection-grid-b{
  margin-bottom: 17px;
}

.selection-features-b{
  margin-bottom: 17px;
}

.site-selection span{
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 20px;
}

.grids span::before{
  position: absolute;
  left: 0;
  top: -3px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/sprites.png");
  background-position: -20px -121px;
}

.grids .active::before{
  background-position: -20px -211px;
}

.features span::before{
  position: absolute;
  left: 0;
  top: -3px;
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("../img/sprites.png");
  background-position: -20px -301px;
}

.features .active::before {
  left: 0;
  width: 27px;
  background-position: -20px -0px;
}

.grids{
  margin-bottom: 50px;
}


.submit-selection-btn{
  width: 155px;
  height: 38px;
  margin-top: 40px;

  text-align: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 38px;

  color: #000000;
  background-color: #f1f1f1;

  border: 0;
  border-radius: 3px;
}

.submit-selection-btn:hover{
  background-color: #e5e5e5;
}

.submit-selection-btn:active{
  background-color: #d5d5d5;
  height: 33px;
  border-top: 5px solid #b5b5b5;
  line-height: 28px;
}

.site-catalog{
  float: right;
  width: 560px;
  font-size: 0px;
}

.catalog-select p,
.catalog-select ul,
.catalog-select ul li{
  display: inline-block;
  padding: 0;
  margin: 0;
}

.catalog-select ul{
  width: 384px;
}

.catalog-select{
  margin-bottom: 15px;
  padding: 5px 0;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.catalog-select li a{
  display: block;
  border-bottom: 1px dotted rgba(0, 202, 116, 1);
  opacity: 0.3;
}



.catalog-select p{
  margin-right: 41px;
}

.catalog-select li a{
  color: #000000;
  margin-right: 45px;
}

.catalog-select > a{
  display: inline-block;
  padding-left: 7px;
}

.icon-down{
  width: 11px;
  height: 10px;
  background-image: url("../img/sprites.png");
  background-position: -20px -701px;
}

.icon-up{
  width: 11px;
  height: 10px;
  background-image: url("../img/sprites.png");
  background-position: -20px -791px;
}

.catalog-element{
  position: relative;
  display: inline-block;
  width: 240px;
  margin-bottom: 80px;
  margin-top: 30px;
  background-color: #2d2214;
}

.catalog-hover{
  position: absolute;
  top: 20px;
  left: 20px;

  display: none;
  width: 160px;
  height: 160px;
  padding: 20px;

  text-align: center;
  font-size: 14px;
  background-color: white;
}

.catalog-hover a{
  display: block;
  width: 140px;
  height: 38px;
  margin: 0 auto;

  text-align: center;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 38px;

  color: white;
  background-color: #fb565a;

  border: 0;
  border-radius: 3px;
}

.catalog-element:hover .catalog-hover{
  display: block;
}


.catalog-element::before{
  position: absolute;
  content: "";
  left: 0;
  top: -30px;


  width: 240px;
  height: 30px;
  background: url("../img/catalog-item-cap.png");
  opacity: 0.1;
}

.catalog-element:hover::before{
  opacity: 1;
}

.catalog-element:nth-child(even){
  margin-right: 80px;
}


.pagination{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 79px;
  font-size: 12px;
}

.pagination li {
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
}

.pagination li a{
  display: block;
  width: 38px;
  height: 38px;

  color: #000000;
  text-transform: uppercase;
  background-color: #f1f1f1;
  border-radius: 5px;
  vertical-align: middle;
  line-height: 38px;
}

.pagination li:last-child a{
  width: 140px;
}

/*---------------------------Тело каталога*/
.map-block{
  position: relative;
  width: 1201px;
  height: 416px;
  margin: 0 auto;
  background: #ffffff url("../img/map.jpg") no-repeat;

}
.contact{
  position: absolute;
  top: 88px;
  left: 160px;
  vertical-align: top;
  display: inline-block;
  width: 210px;
  height: 200px;
  padding: 20px;

  background-color: #ffffff;
}

.contact h4{

  margin-top: 5px;
  margin-bottom: -5px;
  color: #000000;
}

.contact p{
  line-height: 20px;
  margin-bottom: 20px;
  color: #666666;
}
.contact a{
  display: block;
  width: 204px;
  height: 38px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  background-color: #fb565a;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 38px;
}

.adress{
  position: absolute;
  top: 112px;
  right: 131px;
  width: 231;
  height: 190px;
}
.main-footer{
  height: 139px;
  padding-top: 77px;
}
.footer-social{
  float: left;
  font-size: 0px;
}

.social-btn{
  display: inline-block;
  width: 62px;
  height:62px;
  margin-right: 27px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-btn-vk{
  background: #e1e1e1 url("../img/icon-vk.png") no-repeat 50% 50%;
}

.social-btn-fb{
  background: #e1e1e1 url("../img/icon-facebook.png") no-repeat 50% 50%;
}

.social-btn-inst{
  background: #e1e1e1 url("../img/icon-instagramm.png") no-repeat 50% 50%;
}

.footer-sale{
  float: right;
  width: 560px;
}

.footer-sale b{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: medium;
}

.footer-sale p{
  margin-top: 10px;
}
/*Всплывающая форма*/
.modal-feedback {
  position: absolute;
  top: -34px;
  left: 50%;

  display: none;
  width: 460px;
  height: 317px;
  margin-left: -326px;
  padding: 50px 90px 49px 80px;

  color: #000000;
  letter-spacing: -.36em;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-feedback-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 41px;
  height: 41px;

  font-size: 0;
  background: #fb565a url("../img/sprites.png") no-repeat -10px -418px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-feedback-show {
  display: block;
}

.modal-feedback .name-block,
.modal-feedback .mail-block{
  letter-spacing: normal;
  display: inline-block;
  width: 220px;
}

.name-block{
  margin-right: 20px;
}

.name-block input,
.mail-block input{
  width: 201px;
  height: 32px;
  margin-top: 9px;
  padding-left: 15px;

  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  font-family: "Roboto";
  color: #000000;
  text-transform: uppercase;
  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.comment-block{
  display: inline-block;
  margin-top: 19px;
  margin-bottom: 42px;
  letter-spacing: normal;
}

.comment-block textarea{
  margin-top: 7px;
  width: 426px;
  height: 90px;
  padding: 10px 15px;

  resize: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  font-family: "Roboto";
  color: #000000;
  text-transform: uppercase;
  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.submit-btn{
  width: 460px;
  height: 38px;

  text-align: center;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 38px;

  color: white;
  background-color: #fb565a;

  border: 0;
  border-radius: 3px;
}

/*Координаты спрайтов
.17default-icon-check-on { background-position: -20px -0px; width: 27px; height: 23px; }
.18hoveroff-icon-check-on { background-position: -20px -43px; width: 27px; height: 23px; }
.25icon-vk { background-position: -20px -86px; width: 26px; height: 15px; }
.19default-icon-circle { background-position: -20px -121px; width: 25px; height: 25px; }
.20hoveroff-icon-circle { background-position: -20px -166px; width: 25px; height: 25px; }
.21default-icon-circle-dot { background-position: -20px -211px; width: 25px; height: 25px; }
.22hoveroff-icon-circle-dot { background-position: -20px -256px; width: 25px; height: 25px; }
.15default-icon-check-off { background-position: -20px -301px; width: 23px; height: 23px; }
.16hoveroff-icon-check-off { background-position: -20px -344px; width: 23px; height: 23px; }
.27icon-instagramm { background-position: -20px -387px; width: 21px; height: 21px; }
.28cross { background-position: -20px -428px; width: 21px; height: 21px; }
.23recycle-bin { background-position: -20px -469px; width: 15px; height: 15px; }
.24icon-red-basket { background-position: -20px -504px; width: 15px; height: 15px; }
.26icon-facebook { background-position: -20px -539px; width: 12px; height: 22px; }
.12hover-icon-down { background-position: -20px -581px; width: 11px; height: 10px; }
.12hover-icon-up { background-position: -20px -611px; width: 11px; height: 10px; }
.13active-icon-down { background-position: -20px -641px; width: 11px; height: 10px; }
.13active-icon-up { background-position: -20px -671px; width: 11px; height: 10px; }
  .14use-icon-down { background-position: -20px -701px; width: 11px; height: 10px; }
.14use-icon-up { background-position: -20px -731px; width: 11px; height: 10px; }
.1default-icon-down { background-position: -20px -761px; width: 11px; height: 10px; }
.1default-icon-up { background-position: -20px -791px; width: 11px; height: 10px; }

*/
